build/
Debug/
Release/
cmake-build-*/
Objects/
Listings/
*.o
*.obj
*.a
*.elf
*.hex
*.bin
*.map
*.lst
*.d
.settings/
.project
.cproject
.DS_Store
Thumbs.db
*.swp
*.swo
*.user
*.uvguix.*
.vscode/.ropeproject/
.vscode/ipch/

